.cabinet-result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  &__quantity {
    font: {
      size: 1em;
      weight: 700;
      family: $base-font;
    }

    color: $text-black;
    text-transform: uppercase;
    line-height: 1em;
  }

  &__points {
    font: {
      size: 1em;
      weight: 700;
      family: $base-font;
    }

    color: $text-black;
    text-transform: uppercase;
    line-height: 1em;
  }
}

@media (min-width: $tablets) {
  .cabinet-result {
    &__quantity {
      font-size: 1.250em;
    }

    &__points {
      font-size: 1.250em;
    }
  }
}

@media (min-width: $notebooks) {
  .cabinet-result {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 200px;

    &__quantity {
      font-size: 1.125em;
      margin-right: 5px;
      line-height: normal;
    }

    &__points {
      font-size: 1.125em;
      line-height: normal;
    }
  }
}

@media (min-width: $widebooks) {
  .cabinet-result {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &__quantity {
      font-size: 1.250em;
    }

    &__points {
      font-size: 1.250em;
    }
  }
}

@media (min-width: $large-widebooks) {
  .cabinet-result {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &__quantity {
      font-size: 1.625em;
      margin-right: 7px
    }

    &__points {
      font-size: 1.625em;
    }
  }
}
