.cabinet-result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  &__quantity {
    font: {
      size: 1em;
      weight: 700;
      family: $base-font;
    }

    color: $text-black;
    text-transform: uppercase;
    line-height: 1em;
  }

  &__points {
    font: {
      size: 1em;
      weight: 700;
      family: $base-font;
    }

    color: $text-black;
    text-transform: uppercase;
    line-height: 1em;
  }
}

@media (min-width: $tablets) {
  .cabinet-result {
    &__quantity {
      font-size: 1.250em;
    }

    &__points {
      font-size: 1.250em;
    }
  }
}
