.cabinet-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;

  &__name {
    display: none;
  }

  &__photo {
    min-width: 60px;
    max-width: 60px;
  }
}

@media (min-width: $tablets) {
  .cabinet-details {
    margin-left: 20px;
    &__photo {
      min-width: 80px;
      max-width: 80px;
    }
  }
}

@media (min-width: $notebooks) {
  .cabinet-details {
    margin-left: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__name {
      order: 2;
      display: block;

      font: {
        size: 0.875em;
        weight: 700;
        family: $base-font;
      }

      color: $text-black;
      text-transform: uppercase;
      text-align: left;

      width: 155px;
      margin-left: 20px;
    }

    &__photo {
      order: 1;
      min-width: 40px;
      max-width: 40px;
    }
  }
}

@media (min-width: $widebooks) {
  .cabinet-details {
    margin-left: 0;

    &__name {
      font: {
        size: 1em;
      }

      width: 175px;
    }

    &__photo {
      min-width: 50px;
      max-width: 50px;
    }
  }
}

@media (min-width: $large-widebooks) {
  .cabinet-details {
    margin-left: 0;

    &__name {
      font: {
        size: 1.250em;
      }

      width: 220px;
      margin-left: 30px;
    }

    &__photo {
      min-width: 70px;
      max-width: 70px;
    }
  }
}
