.cabinet-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;

  &__name {
    display: none;
  }

  &__photo {
    min-width: 60px;
    max-width: 60px;
  }
}

@media (min-width: $tablets) {
  .cabinet-details {
    margin-left: 20px;
    &__photo {
      min-width: 80px;
      max-width: 80px;
    }
  }
}
