.city-search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;

  margin-top: 20px;
  position: relative;

  &__label {
    font: {
      size: 1.125em;
      family: $base-font;
      weight: 700;
    }

    color: $text-black;
    text-transform: uppercase;
    line-height: normal;

    margin-bottom: 10px;
  }

  &__input {
    font: {
      size: 1.125em;
      family: $base-font;
      weight: 700;
    }

    color: $text-black;
    text-transform: uppercase;
    line-height: normal;

    width: 100%;
    padding: 11px 50px 11px 7px;

    border: none;
    background-color: $color-lightgreen;

    cursor: text;
    outline: none;

    position: relative;
    display: block;
  }

  &__btn {
    background-color: transparent;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='10' transform='translate(0 15.5564) rotate(-45)' stroke='black' stroke-width='2'/%3E%3Crect width='2' height='13' transform='translate(21.2133 22.6275) rotate(-45)' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 32px 32px;

    width: 32px;
    height: 32px;

    top: 36px;
    right: 10px;

    border: none;

    position: absolute;
    content: '';
  }
}

@media (min-width: $tablets) {
  .city-search {
    margin-top: 20px;

    &__label {
      font: {
        size: 1.250em;
      }

      margin-bottom: 10px;
    }

    &__input {
      font: {
        size: 1.250em;
      }

      padding: 15px 50px 15px 10px;
    }

    &__btn {
      background-size: 38px 38px;

      width: 38px;
      height: 38px;
    }
  }
}

@media (min-width: $notebooks) {
  .city-search {

    &__label {
      font: {
        size: 1.125em;
      }
    }

    &__input {
      font: {
        size: 1.125em;
      }
    }
  }
}

@media (min-width: $widebooks) {
  .city-search {

    &__label {
      font: {
        size: 1.250em;
      }
    }

    &__input {
      font: {
        size: 1.250em;
      }
    }
  }
}

@media (min-width: $large-widebooks) {
  .city-search {

    &__label {
      font: {
        size: 1.50em;
      }
    }

    &__input {
      font: {
        size: 1.50em;
      }

      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
    }

    &__btn {
      background-size: 55px 55px;

      width: 55px;
      height: 55px;
      margin-right: 10px;
      margin-top: 5px;
    }
  }
}
