.city {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__title {
    font: {
      size: 1.125em;
      family: $base-font;
      weight: 700;
    }

    color: $text-black;
    text-transform: uppercase;
    line-height: normal;
  }

  &__name {
    font: {
      size: 1em;
      family: $base-font;
      weight: 700;
    }

    color: $text-black;
    text-transform: uppercase;
  }
}

@media (min-width: $tablets) {
  .city {
    &__title {
      font: {
        size: 1.250em;
      }
    }
  }
}

@media (min-width: $notebooks) {
  .city {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    &__wrapper {
      width: 25%;
    }

    &__title {
      position: relative;
      font-size: 1em;
      line-height: 1em;

      margin-right: 0px;
    }

    &__action {
      width: 55%;
    }
  }
}

@media (min-width: $widebooks) {
  .city {
    margin-top: 40px;
    &__wrapper {
      width: 25%;
    }

    &__title {
      position: relative;
      font-size: 1.125em;
      line-height: 1.125em;

      margin-right: 0px;
    }
  }
}
