.city-action {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;

  &__btn {
    background-color: $btn-pressed;
    border: none;

    cursor: pointer;
    outline: none;

    font: {
      size: 1em;
      weight: 700;
      family: $base-font;
    }

    color: $text-white;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;

    padding: 22px 33px 22px 33px;

    position: relative;

    &::after {
      position: absolute;
      content: '';

      width: 0;
      height: 0;

      top: 0;
      right: -14px;

      border-top: 30px solid transparent;
      border-left: 15px solid #000;
      border-bottom: 30px solid transparent;
    }
  }

  .city-action__btn:active {
    background-color: $btn-active;
    color: $text-black;
  }

  .city-action__btn:active::after {
    border-left-color: $btn-active;
    background-color: transparent;
  }
}

@media (min-width: $tablets) {
  .city-action {
    width: 100%;

    &__btn {
      font: {
        size: 1.250em;
      }

      line-height: 1.250em;

      &::after {
        border-top: 35px solid transparent;
        border-left: 15px solid #000;
        border-bottom: 35px solid transparent;
      }
    }
  }
}


@media (min-width: $notebooks) {
  .city-action {
    width: 75%;

    &__btn {
      font: {
        size: 1em;
      }

      line-height: 1em;

      &::after {
        border-top: 30px solid transparent;
        border-left: 15px solid #000;
        border-bottom: 30px solid transparent;
      }
    }
  }
}

@media (min-width: $widebooks) {
  .city-action {
    width: 75%;

    &__btn {
      font: {
        size: 1.125em;
      }

      line-height: 1.125em;

      &::after {
        border-top: 32px solid transparent;
        border-left: 15px solid #000;
        border-bottom: 32px solid transparent;
      }
    }
  }
}
