@font-face {
  font-family: 'mplus';
  src: url('../fonts/mplus-1c-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mplus';
  src: url('../fonts/mplus-1c-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mplus';
  src: url('../fonts/mplus-1c-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'mplus';
  src: url('../fonts/mplus-1c-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
