.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  margin-top: 30px;

  &__btn {
    position: relative;

    width: 50px;
    height: 50px;

    border: none;
    border-radius: 40px;

    background-color: $btn-pressed;

    margin-right: 30px;
  }

  &__btn--fb {
    .fa-facebook::before {
      position: absolute;
      content: '\f09a';

      font: {
        family: 'FontAwesome';
        size: 26px;
      }

      color: $color-lightgreen;
      top: 12px;
      left: 17px;
    }
  }

  &__btn--vk {
    .fa-vk::before {
      position: absolute;
      content: '\f189';
      font: {
        family: 'FontAwesome';
        size: 26px;
      }

      color: $color-lightgreen;
      top: 10px;
      left: 10px;
    }
  }
}

@media (min-width: $tablets) {
  .footer-social {
    &__btn {
      width: 60px;
      height: 60px;
    }

    &__btn--fb {
      .fa-facebook::before {
        font: {
          size: 30px;
        }

        top: 14px;
        left: 20px;
      }
    }

    &__btn--vk {
      .fa-vk::before {
        font: {
          size: 30px;
        }

        top: 13px;
        left: 13px;
      }
    }
  }
}

@media (min-width: $notebooks) {
  .footer-social {
    width: 15%;
    margin-right: 0;
    margin-left: auto;
    align-items: flex-start;
    margin-top: 0;

    &__btn {
      width: 30px;
      height: 30px;
    }

    &__btn:last-child {
      margin-right: 0;
    }

    &__btn--fb {
      .fa-facebook::before {
        font: {
          size: 18px;
        }

        top: 8px;
        left: 9px;
      }
    }

    &__btn--vk {
      .fa-vk::before {
        font: {
          size: 18px;
        }

        top: 5px;
        left: 5px;
      }
    }
  }
}

@media (min-width: $widebooks) {
  .footer-social {
    &__btn {
      width: 40px;
      height: 40px;
    }

    &__btn--fb {
      .fa-facebook::before {
        font: {
          size: 22px;
        }

        top: 10px;
        left: 12px;
      }
    }

    &__btn--vk {
      .fa-vk::before {
        font: {
          size: 22px;
        }

        top: 8px;
        left: 7px;
      }
    }
  }
}
