.footer-rules {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding-left: 20px;

  &__link {
    text-decoration: underline;
    text-transform: uppercase;
    color: $text-black;

    font: {
      size: 0.875em;
      weight: 700;
      family: $base-font;
    }

    line-height: normal;
    margin-bottom: 10px;
  }
}
