.form-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: center;

  &__input {
    width: 90%;
    text-align: center;

    font: {
      size: 1em;
      family: $base-font;
      weight: 700;
    }

    color: $text-black;
    text-transform: uppercase;

    background-color: transparent;
    border: none;

    cursor: text;
    outline: none;
  }
}
