.form-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  background-color: $bg-darkred;

  padding-top: 30px;
  padding-bottom: 30px;

  padding-left: 10px;
  padding-right: 10px;

  position: relative;

  border-left: 4px solid #8dc63f;
  border-right: 4px solid #8dc63f;

  &::before {
    position: absolute;
    content: '';

    width: 100%;
    min-height: 12px;

    background-image: url("data:image/svg+xml,%0A%3Csvg width='319' height='12' viewBox='0 0 319 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(318.957 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(13.8909 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(28.4179 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(42.9448 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(57.4717 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(71.9987 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(86.5256 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(101.053 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(115.579 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(130.106 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(144.633 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(159.16 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(173.687 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(188.214 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(202.741 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(217.268 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(231.795 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(246.322 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(260.849 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(275.376 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(289.903 11.6281) rotate(180)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(304.43 11.6281) rotate(180)' fill='%2322B454'/%3E%3C/svg%3E%0A");

    background-size: contain;
    background-repeat: repeat-x;

    top: 0;
    left: 0;
  }

  &::after {
    position: absolute;
    content: '';

    width: 100%;
    min-height: 12px;

    background-image: url("data:image/svg+xml,%3Csvg width='319' height='12' viewBox='0 0 319 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(305.31)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(290.783)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(276.256)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(261.729)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(247.202)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(232.675)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(218.148)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(203.622)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(189.095)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(174.568)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(160.041)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(145.514)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(130.987)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(116.46)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(101.933)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(87.4061)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(72.8791)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(58.3522)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(43.8253)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(29.2983)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(14.7714)' fill='%2322B454'/%3E%3Cpath d='M6.82326 0L13.6465 11.4721H0L6.82326 0Z' transform='translate(0.2444)' fill='%2322B454'/%3E%3C/svg%3E%0A");

    background-size: contain;
    background-repeat: repeat-x;

    bottom: 0;
    left: 0;
  }
}

@media (min-width: $tablets) {
  .form-list {
    padding-top: 40px;
    padding-bottom: 40px;

    padding-left: 10px;
    padding-right: 10px;

    position: relative;

    border-left: 4px solid #8dc63f;
    border-right: 4px solid #8dc63f;

    &::before {
      min-height: 14px;

      top: 0;
      left: 0;
    }

    &::after {
      min-height: 14px;

      bottom: -1px;
      left: 0;
    }
  }
}


@media (min-width: $notebooks) {
  .form-list {
    padding-top: 40px;
    padding-bottom: 40px;

    padding-left: 10px;
    padding-right: 10px;

    position: relative;

    border-left: 4px solid #8dc63f;
    border-right: 4px solid #8dc63f;

    &::before {
      min-height: 24px;

      top: -1px;
      left: 0;
    }

    &::after {
      min-height: 24px;

      bottom: -3px;
      left: 0;
    }
  }
}
