.form-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: center;

  &__input {
    width: 90%;
    text-align: center;

    font: {
      size: 1.125em;
      family: $base-font;
      weight: 700;
    }

    color: $text-black;
    text-transform: uppercase;
    line-height: normal;

    background-color: transparent;
    border: none;

    cursor: text;
    outline: none;
  }

  /*Алерты для полей формы регистрации, входа и ввода слова*/

  &__error {
    font: {
      size: 0.625em;
      weight: 700;
      family: $base-font;
    }

    color: $text-white;
    text-transform: uppercase;
    line-height: normal;

    &--emailreg {
      display: none;
    }

    &--namereg {
      display: none
    }

    &--passwordreg {
      display: none;
    }

    &--emailent {
      display: none;
    }

    &--passwordent {
      display: none;
    }

    &--secret {
      display: none;
    }
  }



  &--secret {
    display: none;
  }
  /*Стили для уведомлений об успешной или нет оптравке слова*/
  &__success,
  &__again {
    font: {
      size: 1.125em;
      family: $base-font;
      weight: 700;
    }

    color: $text-black;
    text-transform: uppercase;
    line-height: normal;

    background-color: transparent;
    border: none;
    text-align: center;

    width: 100%;
    margin: 0;
  }

  &__success {
    display: none;
  }

  &__again {
    display: none;
  }
}

@media (min-width: $tablets) {
  .form-item {
    &__input {
      margin-bottom: 7px;
      font: {
        size: 1.250em;
      }
    }

    &__success,
    &__again {
      font: {
        size: 1.250em;
      }
    }

    &__error {
      font: {
        size: 0.875em;
      }
    }
  }
}

@media (min-width: $notebooks) {
  .form-item {
    &__input {
      margin-bottom: 7px;
      font: {
        size: 2em;
      }
    }

    &__success,
    &__again {
      font: {
        size: 2em;
      }
    }
  }
}

@media (min-width: $widebooks) {
  .form-item {
    &__input {
      margin-bottom: 10px;
      font: {
        size: 2.125em;
      }
    }

    &__success,
    &__again {
      font: {
        size: 2.125em;
      }
    }
  }
}

@media (min-width: $large-widebooks) {
  .form-item {
    &__input {
      margin-bottom: 10px;
      font: {
        size: 2.75em;
      }
    }

    &__success,
    &__again {
      font: {
        size: 2.75em;
      }
    }
  }
}

@media (min-width: $hd) {
  .form-item {
    &__error {
      font: {
        size: 1.125em;
      }
    }
  }
}
