.form-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: center;

  &__input {
    width: 90%;
    text-align: center;

    font: {
      size: 1.125em;
      family: $base-font;
      weight: 700;
    }

    color: $text-black;
    text-transform: uppercase;
    line-height: normal;

    background-color: transparent;
    border: none;

    cursor: text;
    outline: none;
  }

  &--secret {
    display: none;
  }

  &__success {
    font: {
      size: 1.125em;
      family: $base-font;
      weight: 700;
    }

    color: $text-black;
    text-transform: uppercase;
    line-height: normal;

    background-color: transparent;
    border: none;
    text-align: center;

    width: 51%;
    margin: 0;
  }
}

@media (min-width: $tablets) {
  .form-item {
    &__input {
      margin-bottom: 7px;
      font: {
        size: 1.250em;
      }
    }

    &__success {
      font: {
        size: 1.250em;
      }
    }
  }
}

@media (min-width: $notebooks) {
  .form-item {
    &__input {
      margin-bottom: 7px;
      font: {
        size: 2em;
      }
    }

    &__success {
      font: {
        size: 2em;
      }
    }
  }
}

@media (min-width: $widebooks) {
  .form-item {
    &__input {
      margin-bottom: 10px;
      font: {
        size: 2.125em;
      }
    }

    &__success {
      font: {
        size: 2.125em;
      }
    }
  }
}

@media (min-width: $large-widebooks) {
  .form-item {
    &__input {
      margin-bottom: 10px;
      font: {
        size: 2.75em;
      }
    }

    &__success {
      font: {
        size: 2.75em;
      }
    }
  }
}
