.header-nav {
  @include container;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100%;

  &__howto {
    display: none;
  }

  &__howto--mobile {
    position: relative;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 20px;
    height: 42px;
    width: 42px;

    cursor: pointer;
    outline: none;

    .fa-exclamation-circle::before {
      position: absolute;
      content: '\f06a';

      font-family: 'FontAwesome';
      font-size: 30px;
      color: #000;

      width: 30px;
      height: 30px;

      top: 4px;
      left: 4px;
    }
  }

  &__login {
    position: relative;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 20px;
    height: 42px;
    width: 42px;

    cursor: pointer;
    outline: none;

    .fa-user {
      position: absolute;
      content: '\f007';

      font-family: 'FontAwesome';
      font-size: 30px;
      color: #000;

      width: 30px;
      height: 30px;

      top: 4px;
      left: 4px;
    }
  }

  &__logo {
    width: 70px;
    height: auto;
  }

  &__link {
    width: 100%;
    height: 100%;

    cursor: pointer;
    outline: none;
  }

  &__img {
    width: 80px;
    height: auto;
  }
}
