.info-content {
  background-image: url('../img/second-form.png');
  background-repeat: no-repeat;
  background-size: 240px 82px;
  background-position: center center;

  width: 260px;
  height: 89px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  padding-left: 30px;
  padding-top: 10px;

  &__count {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 25%;
  }

  &__nr {
    font: {
      size: 2.75em;
      weight: 600;
      family: $base-font;
    }

    color: $text-white;
    line-height: 1;
    text-transform: uppercase;

    margin: 0;
  }

  &__advice {
    font: {
      size: 0.5em;
      weight: 300;
      family: $base-font;
    }

    color: $text-white;
    line-height: 1;

    text-align: center;
  }

  &__description {
    width: 60%;
    margin: 0;

    font: {
      size: 0.625em;
      weight: 300;
      family: $base-font;
    }

    color: $text-white;
    line-height: 1;

    margin-left: 20px;
    margin-top: 10px;
  }
}

@media (min-width: 480px) and (max-height: 360px) and (orientation: landscape) {
  .info-content {
    background-size: 240px 82px;
    background-position: center center;

    width: 260px;
    height: 89px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    padding-left: 30px;
    padding-top: 10px;

    &__count {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      width: 25%;
    }

    &__nr {
      font: {
        size: 2.75em;
        weight: 600;
        family: $base-font;
      }

      color: $text-white;
      line-height: 1;
      text-transform: uppercase;

      margin: 0;
    }

    &__advice {
      font: {
        size: 0.5em;
        weight: 300;
        family: $base-font;
      }

      color: $text-white;
      line-height: 1;

      text-align: center;
    }

    &__description {
      width: 60%;
      margin: 0;

      font: {
        size: 0.625em;
        weight: 300;
        family: $base-font;
      }

      color: $text-white;
      line-height: 1;

      margin-left: 20px;
      margin-top: 10px;
    }
  }
}

@media (min-width: 640px) and (max-height: 480px) and (orientation: landscape) {
  .info-content {
    background-size: 240px 82px;
    background-position: center center;

    width: 260px;
    height: 89px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    padding-left: 30px;
    padding-top: 10px;

    margin-bottom: 30px;

    &__count {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      width: 25%;
    }

    &__nr {
      font: {
        size: 2.75em;
        weight: 600;
        family: $base-font;
      }

      color: $text-white;
      line-height: 1;
      text-transform: uppercase;

      margin: 0;
    }

    &__advice {
      font: {
        size: 0.5em;
        weight: 300;
        family: $base-font;
      }

      color: $text-white;
      line-height: 1;

      text-align: center;
    }

    &__description {
      width: 60%;
      margin: 0;

      font: {
        size: 0.625em;
        weight: 300;
        family: $base-font;
      }

      color: $text-white;
      line-height: 1;

      margin-left: 20px;
      margin-top: 10px;
    }
  }
}

@media (min-width: $tablets) {
  .info-content {
    background-image: url('../img/second-form.png');
    background-repeat: no-repeat;
    background-size: 458px 157px;
    background-position: center center;

    width: 458px;
    height: 157px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    padding-left: 30px;
    padding-top: 10px;

    &__count {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      width: 30%;
    }

    &__nr {
      font: {
        size: 6.250em;
        weight: 600;
        family: $base-font;
      }

      margin: 0;
    }

    &__advice {
      font: {
        size: 1.125em;
      }

      color: $text-white;
      line-height: 1;

      text-align: center;
    }

    &__description {
      width: 70%;
      margin: 0;

      font: {
        size: 1.5em;
        weight: 300;
        family: $base-font;
      }

      margin-left: 20px;
      margin-top: 0px;
    }
  }
}
