.intro {
  @include container;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__name {
    width: 100%;
    height: auto;
  }

  &__pic {
    margin: 0 auto;
    display: block;
  }

  &__info {
    width: 100%;
    margin-top: 20px;
  }

  &__title {
    font: {
      family: $base-font;
      size: 1.125em;
      weight: 700;
    }

    color: $text-black;
    text-transform: uppercase;
    text-align: center;

    &--authorize {
      display: block;
      margin-bottom: 0;
    }

    &--watch {
      display: none;
      margin-bottom: 0;
    }

    &--tryagain {
      display: none;
      margin-bottom: 0;
    }

    &--register {
      display: none;
      margin-bottom: 0;
    }
  }

  &__logo {
    display: none;
  }
}

@media (min-width: $tablets) {
  .intro {
    &__title {
      font: {
        size: 1.250em;
      }
    }
  }
}

@media (min-width: $large-tablets) {
  .intro {
    &__title {
      font: {
        size: 1.5em;
      }
    }
  }
}

@media (min-width: $widebooks) {
  .intro {
    &__title {
      font: {
        size: 1.625em;
      }
    }
  }
}
