::-webkit-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  opacity: 0.3;
}

::-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  opacity: 0.3;
}

:-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  opacity: 0.3;
}

:-ms-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  opacity: 0.3;
}

textarea::-webkit-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  opacity: 0.3;
}

textarea::-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  opacity: 0.3;
}

textarea:-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  opacity: 0.3;
}

textarea:-ms-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  opacity: 0.3;
}

::-webkit-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  opacity: 0.3;
}

::-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  opacity: 0.3;
}

:-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  opacity: 0.3;
}

:-ms-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  opacity: 0.3;
}
