.rank-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;

  margin-bottom: 30px;
  margin-top: 10px;

  &--users {
    height: 600px;
    overflow-y: scroll;

    .rank-item:first-of-type {
      background-color: gold;
    }
  }

  &--cities {
    margin-top: 30px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 640px) {
  .rank-list {
    &--users {
      height: 660px;
    }
  }
}

@media (min-width: $tablets) {
  .rank-list {
    margin-top: 10px;
    margin-bottom: 30px;

    &--users {
      height: 660px;
      overflow-y: scroll;
    }

    &--cities {
      margin-top: 30px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (min-width: $notebooks) {
  .rank-list {
    padding-right: 20px;
    &--users {
      height: 550px;
    }

    &::-webkit-scrollbar {
      display: inline-block;
      width: 3px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #000;
    }
/*
    &::-webkit-scrollbar-button:vertical {
      background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='11' viewBox='0 0 20 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 8L9 0L18 8' transform='translate(1 2)' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A");
      background-size: 10px 5px;
      background-repeat: no-repeat;
      width: 10px;
      height: 5px;

      z-index: 100;
    } */
  }
}

@media (min-width: $widebooks) {
  .rank-list {
    &--users {
      height: 550px;
    }
  }
}

@media (min-width: $large-widebooks) {
  .rank-list {
    &--users {
      height: 550px;
    }
  }
}
