.rank-header {
  width: 100%;

  border-bottom: 2px solid #000;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  padding-bottom: 4px;

  &__count {
    font: {
      size: 0.875em;
      family: $base-font;
      weight: 700;
    }

    color: $text-black;
    line-height: normal;
    text-transform: uppercase;

    margin-right: 70px;
  }

  &__name {
    font: {
      size: 0.875em;
      family: $base-font;
      weight: 700;
    }

    color: $text-black;
    line-height: normal;
    text-transform: uppercase;
  }

  &__points {
    font: {
      size: 0.875em;
      family: $base-font;
      weight: 700;
    }

    color: $text-black;
    line-height: normal;
    text-transform: uppercase;

    margin-right: 0;
    margin-left: auto;
  }
}

@media (min-width: 480px) {
  .rank-header {
    &__count {
      font: {
        size: 0.875em;
      }

      margin-right: 97px;
    }

    &__name {
      font: {
        size: 0.875em;
      }
    }

    &__points {
      font: {
        size: 0.875em;
      }
    }
  }
}

@media (min-width: 640px) {
  .rank-header {
    &__count {
      font: {
        size: 1em;
      }

      margin-right: 100px;
    }

    &__name {
      font: {
        size: 1em;
      }
    }

    &__points {
      font: {
        size: 1em;
      }
    }
  }
}

@media (min-width: $tablets) {
  .rank-header {
    &__count {
      font: {
        size: 1.250em;
      }

      margin-right: 30px;
      margin-left: 10px;
    }

    &__name {
      font: {
        size: 1.250em;
      }
    }

    &__points {
      font: {
        size: 1.250em;
      }
    }
  }
}

@media (min-width: $notebooks) {
  .rank-header {
    margin-top: 32px;
    padding-bottom: 5px;

    &__count {
      font: {
        size: 0.875em;
      }

      margin-right: 30px;
      margin-left: 0;
    }

    &__name {
      font: {
        size: 0.875em;
      }
    }

    &__points {
      font: {
        size: 0.875em;
      }
    }
  }
}

@media (min-width: $widebooks) {
  .rank-header {
    &__count {
      font: {
        size: 1em;
      }
      margin-left: 5px;
    }

    &__name {
      font: {
        size: 1em;
      }
    }

    &__points {
      font: {
        size: 1em;
      }
    }
  }
}
