.rank-users {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__title {
    font: {
      size: 1.438em;
      weight: 700;
      family: $base-font;
    }

    color: $text-black;
    text-transform: uppercase;
    line-height: normal;
    text-align: center;

    display: block;
    width: 100%;

    background-color: $color-lightgreen;

    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (min-width: $tablets) {
  .rank-users {
    &__title {
      font-size: 1.625em;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

@media (min-width: $notebooks) {
  .rank-users {
    width: 47%;

    &__title {
      font-size: 1.125em;
      padding-top: 10px;
      padding-bottom: 10px;

      margin: 0;
    }
  }
}

@media (min-width: $widebooks) {
  .rank-users {
    &__title {
      font-size: 1.250em;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}
