.start-social {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 30px;
  margin-top: 50px;

  &__title {
    font: {
      size: 1.125em;
      weight: 700;
      family: $base-font;
    }

    color: $text-black;
    text-transform: uppercase;
    line-height: normal;

    margin-bottom: 25px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
  }

  &__btn {
    font: {
      size: 1.125em;
      family: $base-font;
      weight: 700;
    }

    color: $text-white;
    text-transform: uppercase;
    text-align: left;
    border: none;

    position: relative;

    cursor: pointer;
    outline: none;

    padding-left: 90px;
    padding-top: 15px;
    padding-bottom: 15px;

    width: 95%;

    margin-bottom: 15px;
  }

  &__btn--fb {
    background-color: $color-fb;
    .fa-facebook::before {
      position: absolute;
      content: '\f09a';

      font: {
        family: 'FontAwesome';
        size: 24px;
      }

      color: #fff;
      top: 15px;
      left: 20px;
    }

    &::after {
      position: absolute;
      content: '';
      width: 2px;
      height: 1.125em;
      top: 15px;
      left: 60px;
      background-color: #fff;
    }

    &::before {
      position: absolute;
      content: '';

      width: 0;
      height: 0;

      top: 0;
      right: -14px;

      border-top: 25px solid transparent;
      border-left: 15px solid $color-fb;
      border-bottom: 25px solid transparent;
    }
  }

  &__btn--vk {
    background-color: $color-vk;
    .fa-vk::before {
      position: absolute;
      content: '\f189';
      font: {
        family: 'FontAwesome';
        size: 24px;
      }

      color: #fff;
      top: 11px;
      left: 13px;
    }

    &::after {
      position: absolute;
      content: '';
      width: 2px;
      height: 1.125em;
      top: 15px;
      left: 60px;
      background-color: #fff;
    }

    &::before {
      position: absolute;
      content: '';

      width: 0;
      height: 0;

      top: 0;
      right: -14px;

      border-top: 25px solid transparent;
      border-left: 15px solid $color-vk;
      border-bottom: 25px solid transparent;
    }
  }
}

@media (min-width: 640px) {
  .start-social {
    width: 100%;

    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: 100%;
    }

    &__btn {
      width: 45%;
    }
  }
}

@media (min-width: $tablets) {
  .start-social {
    width: 100%;

    &__title {
      font-size: 1.250em;
    }

    &__btn {
      font-size: 1.250em;
    }

    &__btn--fb {
      &::before {
        border-top: 27px solid transparent;
        border-left: 15px solid $color-fb;
        border-bottom: 27px solid transparent;
      }
    }

    &__btn--vk {
      .fa-vk::before {
        top: 12px;
        left: 15px;
      }

      &::before {
        border-top: 27px solid transparent;
        border-left: 15px solid $color-vk;
        border-bottom: 27px solid transparent;
      }
    }
  }
}

@media (min-width: $notebooks) {
  .start-social {
    width: 100%;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 0;
    margin-top: 0;

    &__title {
      font-size: 1em;
    }

    &__btn {
      font-size: 1em;
      width: 95%;

      padding-top: 21px;
      padding-bottom: 21px;
    }

    &__btn--fb {
      .fa-facebook::before {
        top: 17px;
      }

      &::before {
        border-top: 30px solid transparent;
        border-left: 15px solid $color-fb;
        border-bottom: 30px solid transparent;
      }

      &::after {
        top: 20px;
      }
    }

    &__btn--vk {
      .fa-vk::before {
        top: 16px;
        left: 15px;
      }

      &::before {
        border-top: 30px solid transparent;
        border-left: 15px solid $color-vk;
        border-bottom: 30px solid transparent;
      }

      &::after {
        top: 20px;
      }
    }

    &__wrapper {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}

@media (min-width: $widebooks) {
  .start-social {
    width: 100%;

    &__title {
      font-size: 1.125em;
    }

    &__btn {
      font-size: 1.125em;
      width: 95%;

      padding-top: 21px;
      padding-bottom: 21px;
    }
  }
}

@media (min-width: $large-widebooks) {
  .start-social {
    width: 100%;

    &__title {
      font-size: 1.5em;
    }

    &__btn {
      font-size: 1.5em;
      width: 95%;

      padding-top: 21px;
      padding-bottom: 21px;
    }

    &__btn--fb {
      .fa-facebook::before {
        top: 17px;
        font-size: 34px;
      }

      &::before {
        border-top: 35px solid transparent;
        border-left: 15px solid $color-fb;
        border-bottom: 35px solid transparent;
      }

      &::after {
        top: 20px;
      }
    }

    &__btn--vk {
      .fa-vk::before {
        top: 16px;
        left: 15px;

        font-size: 30px;
      }

      &::before {
        border-top: 35px solid transparent;
        border-left: 15px solid $color-vk;
        border-bottom: 35px solid transparent;
      }

      &::after {
        top: 20px;
      }
    }
  }
}
