.start-item {
  padding-left: 20px;
  margin-bottom: 20px;

  &__label {
    font: {
      size: 0.875em;
      weight: 700;
      family: $base-font;
    }

    color: $text-black;
    line-height: normal;
    text-transform: uppercase;

    display: block;
    width: 250px;
  }

  &__link {
    text-decoration: underline;
    color: $text-black;
  }
}

.start-item__input--checkbox + label {
  @include checkbox-default;
}

.start-item__input--checkbox + label::before {
  @include checkbox-custom;
  @include animation;
}

.start-item__input--checkbox:checked + label::after {
  @include checkbox-checked;
  @include animation;
}

@media (min-width: 480px) {
  .start-item {
    &__label {
      width: 100%;
    }
  }
}

@media (min-width: 640px) {
  .start-item {
    &__label {
      width: 100%;
    }
  }
}

@media (min-width: $tablets) {
  .start-item {
    margin-top: 20px;
    &__label {
      width: 100%;
      font-size: 1.250em;
    }
  }
}

@media (min-width: $notebooks) {
  .start-item {
    margin-top: 20px;
    &__label {
      width: 100%;
      font-size: 0.875em;
    }
  }
}
