.start-controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  margin-top: 20px;

  &__buttons {
    margin-top: 20px;
  }

  &__btn {
    margin: 0 auto;

    background-color: $btn-pressed;
    border: none;

    cursor: pointer;
    outline: none;

    font: {
      size: 1em;
      weight: 400;
      family: $base-font;
    }

    color: $text-white;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;

    padding: 22px 20px 22px 20px;

    position: relative;

    &::after {
      position: absolute;
      content: '';

      width: 0;
      height: 0;

      top: 0;
      right: -14px;

      border-top: 30px solid transparent;
      border-left: 15px solid #000;
      border-bottom: 30px solid transparent;
    }

    &--submit {
      display: none;
    }

    &--enter {
      display: none;
    }

    &--register {
      display: none;
    }

    &--onemore {
      display: none;
    }
  }

  .start-controls__btn:active {
    background-color: $btn-active;
    color: $text-black;
  }

  .start-controls__btn:active::after {
    border-left-color: $btn-active;
    background-color: transparent;
  }
}

@media (min-width: $tablets) {
  .start-controls {
    &__btn {
      font: {
        size: 1.250em;
      }
      line-height: 1.250em;

      &::after {
        border-top: 35px solid transparent;
        border-left: 15px solid #000;
        border-bottom: 35px solid transparent;
      }
    }
  }
}
