.start {
  @include container;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
  }
}

@media (min-width: $notebooks) {
  .start {
    &__wrapper {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      flex-wrap: nowrap;

      margin-top: 20px;
    }
  }
}

@media (min-width: $large-widebooks) {
  .start {
    &__wrapper {
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      flex-wrap: nowrap;

      margin-top: 20px;
    }
  }
}
