.start-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
}

@media (min-width: $widebooks) {
  .start-list {
    margin-bottom: 20px;
  }
}

@media (min-width: $large-widebooks) {
  .start-list {
    margin-bottom: 0;
  }
}
