.start-social {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 30px;
  margin-top: 50px;

  &__title {
    font: {
      size: 1.125em;
      weight: 700;
      family: $base-font;
    }

    color: $text-black;
    text-transform: uppercase;
    line-height: normal;

    margin-bottom: 25px;
  }

  &__btn {
    font: {
      size: 1.125em;
      family: $base-font;
      weight: 700;
    }

    color: $text-white;
    text-transform: uppercase;
    text-align: left;
    border: none;

    position: relative;

    cursor: pointer;
    outline: none;

    padding-left: 90px;
    padding-top: 15px;
    padding-bottom: 15px;

    width: 95%;

    margin-bottom: 15px;
  }

  &__btn--fb {
    background-color: $color-fb;
    .fa-facebook::before {
      position: absolute;
      content: '\f09a';

      font: {
        family: 'FontAwesome';
        size: 24px;
      }

      color: #fff;
      top: 15px;
      left: 20px;
    }

    &::after {
      position: absolute;
      content: '';
      width: 2px;
      height: 1.125em;
      top: 15px;
      left: 60px;
      background-color: #fff;
    }

    &::before {
      position: absolute;
      content: '';

      width: 0;
      height: 0;

      top: 0;
      right: -14px;

      border-top: 25px solid transparent;
      border-left: 15px solid $color-fb;
      border-bottom: 25px solid transparent;
    }
  }

  &__btn--vk {
    background-color: $color-vk;
    .fa-vk::before {
      position: absolute;
      content: '\f189';
      font: {
        family: 'FontAwesome';
        size: 24px;
      }

      color: #fff;
      top: 11px;
      left: 13px;
    }

    &::after {
      position: absolute;
      content: '';
      width: 2px;
      height: 1.125em;
      top: 15px;
      left: 60px;
      background-color: #fff;
    }

    &::before {
      position: absolute;
      content: '';

      width: 0;
      height: 0;

      top: 0;
      right: -14px;

      border-top: 25px solid transparent;
      border-left: 15px solid $color-vk;
      border-bottom: 25px solid transparent;
    }
  }
}
