$mobile: 320px;
$tablets: 768px;
$notebooks: 1024px;
$large-notebooks: 1152px;
$widebooks: 1366px;
$large-widebooks: 1600px;
$hd: 1920px;

$bg-white: #ffffff;
$bg-body: #8dc63f;
$bg-header: #22b24c;
$bg-footer: #22b24c;
$bg-gray: #eeeeee;
$bg-red: #ed1c24;
$bg-darkred: #ad1e23;
$color-fb: #2661CD;
$color-vk: #3B5E8C;
$color-lightgreen: #22B454;
$border-logo: #8dc63f;

$btn-active: #ffffff;
$btn-pressed: #000000;

$text-black: #000000;
$text-white: #ffffff;

$base-font: "mplus", sans-serif;
$base-font-color: #000;
$base-font-size: 16px;
$base-font-weight: normal;
